.hidden 								{display:none;}
.ui-header .ui-title 							{margin:0 20%!important;}
.center-wrapper								{text-align: center;}
.green									{background-color: #78FC01!important;}
.red									{background-color: #FB010F!important;}
.orange									{background-color: #FDD41C!important;}
.colorlight								{position: fixed;}
